<app-navigation></app-navigation>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <mat-card class="example-card">
                <!-- Form -->
                <form [formGroup]="userForm" (ngSubmit)="userSave()">
                <mat-card-header>                      
                    <mat-card-title>{{title|uppercase}}</mat-card-title>                                                
                </mat-card-header>
                
                <mat-card-content>
                <mat-divider></mat-divider>
                <br>
                    <!-- Content -->
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre</mat-label>
                                <input type="text" matInput placeholder="Agrega el nombre" formControlName="Nombre">
                            </mat-form-field>                             
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Apellido</mat-label>
                                <input type="text" matInput placeholder="Agrega el apellido" formControlName="ApePaterno">
                            </mat-form-field>                             
                        </div>                                              
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nickname</mat-label>
                                <input type="text" matInput placeholder="Agrega el nickname" formControlName="Nickname">
                            </mat-form-field>                             
                        </div> 
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Correo</mat-label>
                                <input type="text" matInput placeholder="Agrega el email" formControlName="Email">
                            </mat-form-field>                             
                        </div>                                              
                    </div>
                    <div class="row">
                        <div class="col-6" >                             
                            <mat-form-field>
                                <mat-label>Estatus</mat-label>
                                <mat-select placeholder="Elije estatus" formControlName="Estatus">                                
                                    <mat-option [value]="op.value" *ngFor="let op of option">{{op.key}}</mat-option>                                  
                                </mat-select>
                            </mat-form-field>                                   
                        </div>                          
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Rol</mat-label>
                                <mat-select placeholder="Elige un rol"  formControlName="RolId" >
                                    <mat-option *ngFor="let row of roles" value="{{row.Idrol}}" >
                                        {{row.Idrol}}.- {{row.Rolusuario}}                                         
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>         
                    <mat-divider></mat-divider>
                    <br>                            
                </mat-card-content>
                <!-- Buttons -->
                <mat-card-actions>                                                        
                    <button mat-button type="button" [routerLink]="['/listaUsuario']">CANCEL</button>
                    <button mat-button type="submit" [disabled]="!userForm.valid" >{{button|uppercase}}</button>
                </mat-card-actions>
            </form>
            </mat-card>
        </div>
    </div>
</div>
