.example-card {
    max-width: 600px;
    margin-top: 24px;
  }

.example-full-width {
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }