<mat-toolbar >
    <mat-toolbar id="">
      <img src="./assets/images/storeMEAN.png" alt="Logo" width="45" height="45" class="d-inline-block align-text-top">         
        
    </mat-toolbar>
    <button mat-raised-button 
            color="primary" 
            [matMenuTriggerFor]="menu"
            matTooltip="My profile"
            >{{unique_name}}</button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item
          matTooltip="{{modetheme}}">
          <mat-icon>{{icon}}</mat-icon>
          <span class="example-spacer"></span>
        <mat-slide-toggle (ngModelChange)="onChange($event)" [ngModel]="isDarkThemeActive" >{{mode}}</mat-slide-toggle>
        </button>  

        <button mat-menu-item
          matTooltip="solo admin"
          [routerLink]="['/listaUsuario']"
          *ngIf="role === '1'">
          <mat-icon>supervisor_account</mat-icon>
          <span class="example-spacer">Usuarios</span>        
        </button> 

        <button 
          mat-menu-item 
          matTooltip="Salir de la aplicaión"
          (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
      </button>

      </mat-menu>
              
</mat-toolbar>
