.card-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ffffff, #060e5b 80% ) no-repeat;
    margin-top: 50px;//margen superior
    min-width: 320px;
    max-width: 320px;
}
.form-login{
    margin-top: 50px;
}
.inputlogin{
    text-align: center;
    width: 100%;
}
.buttonlogin{
    justify-content: center;
    text-align: center;
}
.info-button-login {
    text-transform: uppercase;
  }